{% if settings.show_carousel %}
  <div id="carousel-wrapper">
    <div id="carousel"> 
      <a id="carousel-prev" class="prev browse left" title="Previous slide"><span class="arrow ir">Next</span></a>
      <a id="carousel-next" class="next browse right" title="Next slide"><span class="arrow ir">Previous</span></a>              
          
      <ol class="items">
        
        {% if settings.show_carousel_item_1 %}
        <li>
          {% if settings.carousel_item_1_link != empty %}
            {{ 'carousel-item-1.jpg' | asset_url | img_tag | link_to: settings.carousel_item_1_link }}
          {% else %}
            {{ 'carousel-item-1.jpg' | asset_url | img_tag }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_2 %}
        <li>
          {% if settings.carousel_item_2_link != empty %}
          {{ 'carousel-item-2.jpg' | asset_url | img_tag | link_to: settings.carousel_item_2_link }}
          {% else %}
            {{ 'carousel-item-2.jpg' | asset_url | img_tag }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_3 %}
        <li>
          {% if settings.carousel_item_3_link != empty %}
          {{ 'carousel-item-3.jpg' | asset_url | img_tag | link_to: settings.carousel_item_3_link }}
          {% else %}
            {{ 'carousel-item-3.jpg' | asset_url | img_tag }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_4 %}
        <li>
          {% if settings.carousel_item_4_link != empty %}        
          {{ 'carousel-item-4.jpg' | asset_url | img_tag | link_to: settings.carousel_item_4_link }}
          {% else %}
            {{ 'carousel-item-4.jpg' | asset_url | img_tag }}
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_5 %}
        <li>
          {% if settings.carousel_item_5_link != empty %}        
          {{ 'carousel-item-5.jpg' | asset_url | img_tag | link_to: settings.carousel_item_5_link }}
          {% else %}
            {{ 'carousel-item-5.jpg' | asset_url | img_tag }}
          {%endif%}
        </li>
        {% endif %}
      
        {% if settings.show_carousel_item_6 %}
        <li>
          {% if settings.carousel_item_6_link != empty %}      
          {{ 'carousel-item-6.jpg' | asset_url | img_tag | link_to: settings.carousel_item_6_link }}
          {% else %}
            {{ 'carousel-item-6.jpg' | asset_url | img_tag }}
          {%endif%}
        </li>
        {% endif %}                                 

      </ol>  
    </div>
        
  </div>
{% endif %}