{% if paginate.pages > 1 %}
<div class="pagination">

  <ul>
    {% if paginate.previous %}
      <li class="prev">{{ paginate.previous.title | link_to: paginate.previous.url }}</li>
    {% else %}
      <li class="prev disabled"><a href="#">&laquo; Previous</a></li>
    {% endif %}


    {% for part in paginate.parts %}
        <li{% if part.is_link == false %} class="active"{% endif %}>{{ part.title | link_to: part.url }}</li>
    {% endfor %}          

    {% if paginate.next %}
      <li class="next">{{ paginate.next.title | link_to: paginate.next.url }}</li>
    {% else %}
      <li class="next disabled"><a href="#">Next &raquo;</a></li>
    {% endif %}    
  </ul>

  <p class="pagination-num-showing">
  Showing: {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}
  </p>
</div>
{% endif %}
