<div class="product-grid-item " id="product-{{ product.variants.first.id }}">

  <a href="{{ product.url | within: collection }}" class="product-link" title="{{ product.featured_image.alt | escape }}">
    <span class="product-price{% if product.compare_at_price > product.price %} sale{% endif %}">
      {% if product.available %}
      {% if product.price_varies %} 
      <small>from</small> {{ product.price_min | money }}
      {% else %}
      {{ product.price_min | money }}
      {% endif %}
      {% if product.compare_at_price > product.price %}
      <small>was {{ product.compare_at_price | money }}</small>
      {% endif %}
      {% else %}
      Sold Out
      {% endif %}
    </span>
    <img src="{{ product.featured_image | product_img_url: 'medium' }}" class="product-photo" alt="{{ product.featured_image.alt | escape }}" />
  </a>
  
  <div class="product-information">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>                    
  </div>    
          
</div>    
