  <div id="product-image-gallery" class="product-gallery {% if settings.main_image_display == 'Zoom-in' %} zoom-in{% endif %}">
    <div id="active-wrapper">
      {% if settings.main_image_display == 'Lightbox' %}
      <a href="{{ product.featured_image | product_img_url: 'original' }}" title="{{ product.featured_image.alt | escape }}" rel="fancybox">
      {% endif %}
        <img style="max-width:303px" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" id="large-thumb" />
      {% if settings.main_image_display == 'Lightbox' %}
      </a>
      {% endif %}
    </div>
    <ul id="thumbs" {% if product.images.size == 1 %}class="visuallyhidden"{% endif %}>
      {% for image in product.images %}
      {% unless forloop.first and settings.main_image_display == 'Lightbox' %}
      <li>
        <a{% if settings.main_image_display == 'Lightbox' %} rel="fancybox"{% endif %} class="gallery" href="{{ image | product_img_url: 'original' }}" title="{{ image.alt | escape }}">
          <img src="{{ image | product_img_url: 'thumb' }}" alt="{{ image.alt | escape }}" />
        </a>
      </li>
      {% endunless %}
      {% endfor %}
    </ul>
  </div><!-- /#product-gallery -->

  <div class="product-details">

    <div class="page-header">
      <h2 class="page-title product-title">{{ product.title }}</h2>
      {% if settings.show_vendor %}
        <h3 class="product-vendor">{{ product.vendor | link_to_vendor }}</h2>
      {% endif %}
    </div>

    <div class="purchase-box">
      <div class="purchase-box-content">
        {% if product.available %}
        <form action="/cart/add" method="post" class="variants">
          <div class="options {% if product.variants.size == 1 %}has-one-option{% endif %}">

            <div class="variants-wrapper {% if product.variants.size == 1 %}visuallyhidden{% endif %}">
              <select id="product-select" name="id">
                {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="purchase-box-right">
              <p class="price"></p>
              <input class="btn" type="submit" name="add" id="add-to-cart" value="Add to Cart" />
            </div>

          </div><!-- /.options -->
        </form>
        {% else %}
        <div class="sold-out">
          <div class="purchase-box-right">
            <p class="price">Sold out.</p>
          </div>
        </div>
        {% endif %}
      </div>
      <p id="add-to-cart-msg"></p>
    </div>



    <div class="description">
      {{ product.description }}
      {% include 'social-sharing' %}
    </div>

  </div><!-- /product-details -->
