<div id="col-main" class="content">

  <article class="post clearfix">
    <div id="page-header">
      <h2 id="page-title">{{ article.title }}</h2> 
    </div>

    {{ article.content }}

    <footer class="article-extras">
      <p class="author">Written by {{ article.author | escape }} &mdash; {{ article.created_at | date: "%B %d, %Y" }}</p>
    </footer>
  </article>


  {% if blog.comments_enabled? %}

    {% if article.comments != blank %}
    {% paginate article.comments by 100 %}
      <div id="comments" class="comments">
        <h2 class="title">Comments</h2>

        {% comment %} Loop through approved comments: {% endcomment %}        
        {% for comment in article.comments reversed %}
          {% include 'comment-template' %}
        {% endfor %}  

        {% comment %} Show a comment that was *just* submitted {% endcomment %}
        {% if comment and comment.created_at %}
          {% include 'comment-template' %}
        {% endif %}       
      
        {% include 'pagination' %}

      </div> <!-- end #comments -->
    {% endpaginate %}   
    {% endif %}

    {% form article %}
    <div class="comment_form" id="comment-form">

      <h2 class="title">Leave a comment</h2>    

      {% if form.posted_successfully? %}
        {% if blog.moderated? %}
          <div class="success-msg">
            Your comment has been successfully submitted. It must be approved before it is published.
          </div>
        {% else %}
          <div class="success-msg">Successfully posted your comment.</div>
        {% endif %}
      {% endif %}

      {% if form.errors %}
        <p class="notice error-msg">Not all the fields have been filled out correctly!</p>
      {% endif %}

      {% if blog.moderated? %}
        <p class="notice">Please note: comments must be approved before they are published.</p>
      {% endif %}   

      <div class="clearfix{% if form.errors contains 'author' %} has-error{% endif %}">
        <label for="comment_author">Name <strong class="req">*</strong></label>
        <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="text {% if form.errors contains 'author' %}input-error{% endif %}" />
      </div>
      <div class="clearfix{% if form.errors contains 'email' %} has-error{% endif %}">
        <label for="comment_email">Email <strong class="req">*</strong></label>
        <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="text {% if form.errors contains 'email' %}input-error{% endif %}" />
      </div>
      <div class="clearfix{% if form.errors contains 'body' %} has-error{% endif %}">
        <label for="comment_body">Comment <strong class="req">*</strong></label>
        <textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="text {% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea>
      </div> 

      <input type="submit" value="Post comment" id="comment-submit" class="btn" />

    </div> <!-- end div.comment_form -->
    {% endform %}  
  {% endif %}

</div> <!-- /#col-main -->