<div id="col-main" class="content">

  <div id="page-header">
    <h2 id="page-title">{{ blog.title }}</h2>
  </div>

  {% paginate blog.articles by 10 %}

  {% for article in blog.articles %}

  <article class="post clearfix">
    <h2 class="title"><a href="{{ article.url }}">{{ article.title | escape }}</a></h2>

    {{ article.excerpt_or_content }}

    <footer class="article-extras clearfix">
      <p class="author">Written by {{ article.author | escape }} &mdash; {{ article.created_at | date: "%B %d, %Y" }}</p>
      <p class="comments-link">
        {% if article.comments_enabled? %}
          {% if article.comments_count > 0 %}
            <a class="btn" href="{{article.url}}#comments" title="Add your thoughts">{{ article.comments_count }} {{ article.comments_count | pluralize: 'comment', 'comments' }}</a>
          {% else %}
            <a class="btn" href="{{article.url}}#comments" title="Add your thoughts">Add a comment</a>
          {% endif %}
        {% else %}
          <span class="disabled">Comments disabled</span>
        {% endif %}
      </p>
    </footer><!-- /.article-extras -->
  </article>

  {% endfor %}

  {% include 'pagination' %}

  {% endpaginate %}

</div> <!-- /#col-main -->