<div class="full content main-column">

  <div class="page-header">
    <h2 class="page-title">Cart ({{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }})</h2>
  </div>

  {% if cart.items == empty %}
    <p class="empty">Your shopping cart is empty. Check out our <a href="/collections/all">catalog</a> to see what's available.</p>

  {% else %}
    <form action="/cart" method="post" class="cart-lineitems">

      <table class="items">
        <thead>
          <tr class="top-labels">
            <th class="empty">&nbsp;</th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th class="empty">&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          {% for item in cart.items %}
          <tr class="item {{ item.product.handle }}">
            <td class="cell-product-image">
              <a href="{{ item.product.url }}">
                <img src="{{ item.product.featured_image | product_img_url: 'thumb' }}"  alt="{{ item.product.title }}" />
              </a>
            </td>
            <td class="cell-product-name"><a href="{{ item.product.url }}">{{ item.title }}</a></td>
            <td class="cell-product-cost">{{ item.price | money }}</td>
            <td class="cell-product-quantity"> <input class="text quantity" type="text" size="4" id="updates_{{ item.id }}" name="updates[{{ item.id }}]" value="{{ item.quantity }}" class="replace" /> </td>
            <td class="cell-lineitem-subtotal">{{ item.line_price | money }}</td>
            <td class="cell-lineitem-delete"><a class="btn remove-from-cart" href="/cart/change?id={{ item.id }}&quantity=0">Remove</a></td>
          </tr>
          {% endfor %}
        </tbody>

        <tfoot>
          <tr class="bottom-summary">
            <td colspan="3"></td>
            <td class="update-quantities"><input type="submit" id="update-cart" class="btn" name="update" value="Update quantities" /></td>
            <td class="subtotal">{{ cart.total_price | money }}</td>
            <td>&nbsp;</td>
          </tr>
        </tfoot>
      </table>

      {% if settings.allow_note %}
      <div id="checkout-addnote">
        <label for="note"><a href="#" id="toggle-note">Add a note for the seller&hellip;</a></label>
        <textarea id="note" name="note" class="hide">{{ cart.note }}</textarea>
      </div>
      {% endif %}

      <div class="cart-lineitems-checkout">
        <input class="btn btn-go-to-checkout" type="submit" name="checkout" value="Proceed to Checkout" />
        {% if additional_checkout_buttons %}
        <div id="additional-checkout-buttons">
          <span id="additional-checkout-buttons-label">Or check out using:</span>
         {{ content_for_additional_checkout_buttons }}
        </div>
        {% endif %}
      </div>

    </form>
  {% endif %}

</div>
