<div id="col-left">

  {% include 'carousel' %}

  {% if settings.home_featured_collection != "" and collections[settings.home_featured_collection].products.size > 0 %}
    <!-- Three featured products -->
    <section class="products-prominent diagonal-divider">

      {% if settings.home_featured_header_show %}
      <div class="section-details">
        
        <h2>{{collections[settings.home_featured_collection].title | link_to: collections[settings.home_featured_collection].url }}</h2>

        {% if collections[settings.home_featured_collection].products.size > 3 %}
          <div class="view-more">{{ 'View More &raquo;' | link_to: collections[settings.home_featured_collection].url }}</div>
        {% endif %}

      </div>    
      {% endif %}

      <ul class="product-grid wide" id="featured-grid">

        {% for product in collections[settings.home_featured_collection].products offset: 0 limit: 3 %}
        <li class="product{% if forloop.last %} last-in-row{% endif %}">
           <a class="product-photo" href="{{ product.url | within: collection }}"><img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title }}" /></a>
          <div class="product-information">
            <span class="product-price">{% if product.price_varies %}<small>from</small> {{ product.price_min | money }}{% else %}{{ product.price_min | money }}{% endif %}</span>
            <h3><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
            {% if settings.show_featured_desc %}
            <p>{{product.description | strip_html | truncatewords: 40 }}</p>
            {% endif %}
          </div>
        </li>
        {% endfor %}

      </ul>
    </section>
  {% endif %}
  

  {% if settings.home_products_collection != "" and collections[settings.home_products_collection].products.size > 0 %}
    <!-- A collection of products -->
    <section class="diagonal-divider">

      <div class="section-details">
        <h2>{{collections[settings.home_products_collection].title | link_to: collections[settings.home_products_collection].url }}</h2>
        
        {% capture home_products_size %}{{ collections[settings.home_products_collection].products.size }}{% endcapture %}
        {% if home_products_size > settings.home_products_limit %}
          <div class="view-more">{{ 'View More &raquo;' | link_to: collections[settings.home_products_collection].url }}</div>
        {% endif %}
      </div>    

      <ul class="product-grid" id="secondary-grid">
        {% for product in collections[settings.home_products_collection].products limit: settings.home_products_limit %}
        <li{% cycle '', '', '', ' class="last-in-row"' %}>
          {% include 'product-grid-item' %}
        </li>
        {% endfor %}
      </ul>      

    </section>
  {% endif %}


</div><!-- /#col-left -->

{% include 'right-column' %}