<div id="col-main">


  <div id="product" class="clearfix content">

    <div id="product-information">

      <div id="add-to-cart-msg"></div>

      <div id="product-header" class="diagonal-divider clearfix">

        <hgroup>
          <h1 id="product-title">{{ product.title }}</h1>
          {%if settings.show_vendor %}<h2 id="product-vendor">{{ product.vendor | link_to_vendor }}</h2>{% endif %}
        </hgroup>

        {% if product.available %}
          <form action="/cart/add" method="post" class="variants" id="product-actions">
            <div class="options clearfix">  

              <div class="variants-wrapper clearfix 
                  {%if product.variants.size == 1 and product.options.size == 1 %} visuallyhidden{% endif %}
                  {%if product.variants.size > 1 and product.options.size == 1 %} one-variant{% endif %}
              "> {% comment %} Hide the dropdown if we've only got one variant and one option to show. {% endcomment %}
                <select id="product-select" name="id">
                  {% for variant in product.variants %}
                  <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                  {% endfor %}
                </select>
              </div>            
                
              <div id="purchase">
                <p class="price"></p>                                 
                <input class="btn" type="submit" name="add" id="add-to-cart" value="Add to Cart" />
              </div>
                                            
            </div><!-- /.options -->
          </form>

        {% else %}
          <div id="product-actions" class="sold-out">
            <div id="purchase">
              <p class="price">Sold out.</p>      
            </div>
          </div>      
        {% endif %}
      </div><!-- /#product-header -->

      
      <div class="description">
        {{ product.description }}
        {% include 'social-sharing' %} 
      </div>            

    </div><!-- /#product-information -->
    
    <div id="product-gallery">

      <div id="active-wrapper">      
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title }}" id="large-thumb" />
      </div>

      <ul id="thumbs"{% if product.images.size <= 1 %} class="hidden"{% endif %}>
        {% for image in product.images %}
        <li class="{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
          <a class="gallery" rel="product-gallery" href="{{ image | product_img_url: 'original' }}">
            <img src="{{ image | product_img_url: 'thumb' }}" alt="{{ product.title | escape }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
    </div><!-- /#product-gallery -->

  </div><!-- /#product -->


  {% if settings.productspg_featured_collection != "" and collections[settings.productspg_featured_collection].products.size > 0 %}
    <!-- A collection of products -->
    <section class="diagonal-divider clearfix">

      <header class="section-details clearfix">
        <h1 class="section-title">{{collections[settings.productspg_featured_collection].title | link_to: collections[settings.productspg_featured_collection].url }}</h1>

        {% capture featured_products_size %}{{ collections[settings.productspg_featured_collection].products.size }}{% endcapture %}
        {% if featured_products_size > settings.productspg_featured_limit %}
          <div class="view-more">{{ 'View More &raquo;' | link_to: collections[settings.productspg_featured_collection].url }}</div>
        {% endif %}
      </header>    

      <ul class="product-grid" id="secondary-grid">
        {% for product in collections[settings.productspg_featured_collection].products limit: settings.productspg_featured_limit %}
        <li{% cycle '', '', '', ' class="last-in-row"' %}>
          {% include 'product-grid-item' %}
        </li>
        {% endfor %}
      </ul>      

    </section>
  {% endif %}


</div><!-- /#col-main -->


{% include 'col-widgets' %}